# {{ ansible_managed }}
auto lo
iface lo inet loopback

{% for i in network_interfaces | default([]) | groupby('device') %}
auto {{ i.0 }}
{% endfor %}

{% for item in network_interfaces | default([]) | groupby('device') %}
{% for config in item.1 %}
{%   for stanza in config.allow | default([]) %}
allow-{{ stanza }}
{%   endfor %}
{% endfor %}
{% endfor %}


{% for i in network_configured_files|default([]) %}
source {{ i }}
{% endfor %}
